<?xml version="1.0" encoding="UTF-8"?>
<!--**********************************************************************
Copyright (c) 2009 Google Inc.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
**********************************************************************-->
<plugin id="com.google.appengine.datanucleus" name="DataNucleus App Engine" provider-name="Google">
    <!-- STORE MANAGER -->
    <extension point="org.datanucleus.store_manager">
        <store-manager class-name="com.google.appengine.datanucleus.DatastoreManager" key="appengine" url-key="appengine"/>
    </extension>

    <!-- QUERY LANGUAGES -->
    <extension point="org.datanucleus.store_query_query">
        <query name="JDOQL" class-name="com.google.appengine.datanucleus.query.JDOQLQuery" datastore="appengine"/>
        <query name="JPQL" class-name="com.google.appengine.datanucleus.query.JPQLQuery" datastore="appengine"/>
    </extension>

    <!-- CONNECTION FACTORY -->
    <extension point="org.datanucleus.store_connectionfactory">
		<!-- TODO Why using the same name ? See JPASingleTableInheritanceTest -->
        <connectionfactory name="appengine" class-name="com.google.appengine.datanucleus.DatastoreConnectionFactoryImpl"
			transactional="true" datastore="appengine"/>
        <connectionfactory name="appengine" class-name="com.google.appengine.datanucleus.DatastoreConnectionFactoryImpl" 
			transactional="false" datastore="appengine"/>
    </extension>

	<!-- VALUE GENERATOR -->
    <extension point="org.datanucleus.store_valuegenerator">
        <valuegenerator name="sequence" class-name="com.google.appengine.datanucleus.valuegenerator.SequenceGenerator" 
			datastore="appengine"/>
    </extension>

    <!-- IDENTITY KEY TRANSLATOR -->
    <extension point="org.datanucleus.identity_key_translator">
        <identitystringtranslator name="appengine" class-name="com.google.appengine.datanucleus.DatastoreIdentityKeyTranslator"/>
    </extension>

    <!--
        Types that we want in the default fetch group.  
		If you're updating this list you best updated DatastoreJDOMetaDataManager as well
		TODO Remove this. DFG is defined by JDO not by a store plugin, and besides the enhancer would need updates
     -->
    <extension point="org.datanucleus.java_type">
        <java-type name="com.google.appengine.api.datastore.Blob" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Blob;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Category" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Category;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Email" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Email;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.GeoPt" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.GeoPt;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.IMHandle" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.IMHandle;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Key" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Key;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Link" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Link;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.PhoneNumber" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.PhoneNumber;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.PostalAddress" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.PostalAddress;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Rating" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Rating;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.ShortBlob" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.ShortBlob;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.datastore.Text" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.datastore.Text;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.blobstore.BlobKey" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.blobstore.BlobKey;" persistent="true" dfg="true" embedded="true"/>
        <java-type name="com.google.appengine.api.users.User" persistent="true" dfg="true" embedded="true"/>
        <java-type name="[Lcom.google.appengine.api.users.User;" persistent="true" dfg="true" embedded="true"/>
    </extension>

    <!-- PERSISTENCE PROPERTIES -->
    <extension point="org.datanucleus.persistence_properties">
        <persistence-property name="datanucleus.appengine.storageversion" datastore="true"/>
        <persistence-property name="datanucleus.appengine.ignorablemetadatabehavior"/> <!-- Make this datastore="true"-->
		<persistence-property name="datanucleus.appengine.getExtentCanReturnSubclasses" datastore="true" value="false"/>
    </extension>
</plugin>
